.dflex {
  display: flex !important;
}

.flexcolumn {
  flex-direction: column !important;
}

.myauto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.m10 {
  margin: 10px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.w120px {
  width: 120px !important;
}

.w100px {
  width: 100px !important;
}

.w50px {
  width: 50px !important;
}

.w100 {
  width: 100% !important;
}

.w95 {
  width: 95% !important;
}

.w75 {
  width: 75% !important;
}

.h120px {
  height: 120px !important;
}
